<p><%= @user.full_name %></p>
<p>Subscriptions <div id="sub-seats"><%= @user.sub_seats %></div></p>


<%= form_for(:add_beacons_to_order, url: add_beacons_to_order_user_path, remote: true) do |f| %>
    <%= f.button :fuck %>
<% end %>

<div id="count">
1
</div>